body{
    background-color: #F7F7F7 !important;
    cursor: crosshair;
}
/* navbar */
div a{
    text-decoration: none ;
    list-style-type: none;
    color: black;
    list-style: none;
    display: flex;
    justify-content: space-around  ;
}

div a:hover, #moon:hover{
    color: violet;
}

#navbar{
    list-style-type: none;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;

    /* position: fixed; Set the navbar to fixed position */

}

#moon{
    color: black;
}

div logo{
    display: inline-block;
    margin-top: -9px !important ;
    font-weight: 600 !important;
    font-size: 35px !important;
}


/* navbar */


/*ABOUT*/
#subHeader{
    font-size: 45px;
    font-weight: 500;
}


#aboutMePhoto{
    width: 400px;
    height: auto;
    border-radius: 15px;
}

#aboutText{
    font-size: 23px;
}

.col-example {
    /* padding: 10rem; */
   
    /* border: 2px solid rgb(119, 97, 97); */

    /* text-align: center; */
  }