:root{
    --backgroundWhite: #F7F7F7;
    --fontBlack: black;
    --hoverLight: lightgrey;
    --backgroundDark: #192734;
    --fontWhite: #EEEEEE;
    --burgerLinesWhite: #EEEEEE;
    --burgerLinesBlack: black;
    --hoverDark: #555;
    --displayNone: none;
    --displayInitial: initial;
}

/* Default light theme */
:root {
    --themeDropDownBg: var(--backgroundWhite);
    --themeFontColor: var(--fontBlack);
    --hoverColor: var(--hoverLight);
    --burgerLinesColor: var(--burgerLinesBlack);
    --moonIcon: var(--displayInitial);
    --sunIcon: var(--displayNone);
}

/* Dark theme */
:root.darkTheme {
    --themeDropDownBg: var(--backgroundDark);
    --themeFontColor: var(--fontWhite);
    --hoverColor: var(--hoverDark);
    --burgerLinesColor: var(--burgerLinesWhite);
    --moonIcon: var(--displayNone);
    --sunIcon: var(--displayInitial);
}

* {
    transition: background-color 0.4s ease, color .2s ease;
}

body {
    background-color: var(--themeDropDownBg) !important;
    cursor: crosshair;
}

#aboutText{
    color: var(--themeFontColor) !important;
}
/* navbar */
.header{
    width: 100%;
    background-color: var(--themeDropDownBg);
    height: 7em;
    position: fixed;
    margin-top:0em ;
    opacity: 96%;
}
#customNav{
    display: none;
}
div a{
    text-decoration: none ;
    list-style-type: none;
    color: var(--themeFontColor);
    list-style: none;
    display: flex;
    justify-content: space-around  ;
}

div a:hover, #moon:hover, #sun:hover{
    /* color: lightgrey; */
    color: var(--hoverColor)  !important;
    transition:  0.3s ease;
}

#navbar{
    list-style-type: none;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
    /* position: fixed; Set the navbar to fixed position */

}

#moon{
    color: var(--themeFontColor) !important;
    display: var(--moonIcon) ;
    
}
#sun{
    color: var(--themeFontColor);
    margin-top: -.14em;
    display: var(--sunIcon);
}
div logo{
    display: inline-block;
    margin-top: -9px !important ;
    font-weight: 600 !important;
    font-size: 35px !important;
}


/* navbar */


/*ABOUT*/
#subHeader{
    font-size: 45px;
    font-weight: 500;
}


#aboutMePhoto{
    width: 400px;
    height: auto;
    border-radius: 15px;
}

#aboutText{
    font-size: 23px;
    margin-left: 3em;
}

.col-example {
    /* padding: 10rem; */
   
    /* border: 2px solid rgb(119, 97, 97); */

    /* text-align: center; */
  }





/* ============================================ */
/* ============================================ */
/* ==========first breakpoint================== */
/* ============================================ */
/* ============================================ */

/* grey */
@media screen and (max-width:1092px){
    body{
        background-color: var(--themeDropDownBg) !important;
        color: var(--themeFontColor)
    }

    #aboutText{
        font-size: 20px;
        color: var(--themeFontColor);
    }
}

/* blue */
@media screen and (max-width:950px){
    body{
        background-color:var(--themeDropDownBg) !important;
    }

    #aboutText{
        all: unset;
        font-size: 20px;
        color: var(--themeFontColor);
    }
    #aboutContainer{
        flex-wrap:wrap;
        margin-top: -8em;
    }
}

/* make pancake button */
/* orange */
@media screen and (max-width:700px){ 
    body{
        background-color: var(--themeDropDownBg) !important;
    }
    #moon2{
        color: var(--themeFontColor);
        display: var(--moonIcon) ;
        
    }
    #sun2{
        color: var(--themeFontColor);
        display: var(--sunIcon) ;
        margin-top: -5em;
    }
    
    #aboutMePhoto{
        margin-top: 0em;
        border-radius: 15px;
        width: 300px;
        height: auto;
    }

    #aboutContainer{
        flex-wrap:wrap;
        margin-top: -13em;
    }
    #bigNav{
        display: none;
    }
    /*my nav*/

    #customNav{
        display: initial;
       
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10vh;
        background-color: var(--themeDropDownBg) !important;
        /* box-shadow: 0 0 .6rem rgb(0,0,0.2); */
    }
    
    .nav-links{
        all: unset;
        display:flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        left:0px;
        height:95vh;
        top:8vh;
        background-color: var(--themeDropDownBg) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform:translateX(-100%); /*this is supposed to be 100*/
        /*transition: all 0.5s ease-in;*/ /*this transition has prob w resizinf window*/
        font-family: 'Raleway', sans-serif !important;
        z-index:1;
       
        
    }
    
    .nav-links li{
        list-style:none;
        opacity:0;
        font-weight: 550;
       
        
        
    }
    
    .nav-links a{
        text-decoration: none;
        letter-spacing: 3px;
        background-color: var(--themeDropDownBg) !important;
        font-size: 20px;
        color:var(--themeFontColor);
        margin-top: 0em; 
        
    
    }
    
    .nav-links a:hover{
        color:lightgrey;
        transition:  0.3s ease;
    }
    
    .burger{
        display:block;
        cursor: pointer;
        margin-left: .5em;
        background-color: transparent;
        width: 30px;
        height: 24px;
        margin-top: -2.5em;
       z-index:2;
       transition: all 0.3s ease;
    }
    .burger div{
        width:24px;
        height: 3px;
        background-color: var(--burgerLinesColor);
        margin: 4px 0;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 3px;
    }
    
    .nav-active{
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade{
        from{
            opacity:0;
            transform:translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    #line1{
        margin-top: .45em; /*size adjustment*/
    }
    .burger:hover div{
        background-color: var(--hoverColor);
    }

    .toggle .line1{
        transform: rotate(45deg) translate(5px,5px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(-45deg) translate(5px,-5px);
    }
    
    .myLogo{
        font-size: 35px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif !important;
        color: black !important;
        margin-top: .07em;
        z-index:2;
    }

    
       
    /* my nav */

    

}