nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#87bbb8;
    box-shadow: 0 0 .6rem rgb(0,0,0.2);
    
}

.nav-links{
    all: unset;
    display:flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left:0px;
    height:92vh;
    top:8vh;
    background-color:#87bbb8;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform:translateX(-100%); /*this is supposed to be 100*/
    /*transition: all 0.5s ease-in;*/ /*this transition has prob w resizinf window*/
    font-family: 'M PLUS 1p', sans-serif;
    z-index:1;
    
    
}

.nav-links li{
    list-style:none;
    opacity:0;

    
    
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    background-color: #87bbb8;
    font-size: 20px;
    color:#444;

}

.nav-links a:hover{
    color:lightgrey;
    transition:  0.3s ease;
}

.burger{
    display:block;
    cursor: pointer;
    margin-left: .5em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #87bbb8;
   
}
.burger div{
    width:25px;
    height: 2px;
    background-color: black;
    margin:5px;
    transition: all 0.3s ease;
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}

.myLogo{
    
}